name: hurl
description: A Dart package that provides Hurl file parsing using Rust backend for high performance
version: 0.0.1
homepage:
publish_to: none

environment:
    sdk: ^3.6.0
    flutter: ">=1.17.0"

dependencies:
    flutter:
        sdk: flutter
    flutter_rust_bridge: 2.7.0
    freezed_annotation: ^2.4.4
    json_annotation: ^4.9.0
    rust_lib_hurl:
        path: rust_builder

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_lints: ^5.0.0
    build_runner: ^2.4.14
    integration_test:
        sdk: flutter
    json_serializable: ^6.7.1
    freezed: ^2.4.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

    # To add assets to your package, add an assets section, like this:
    # assets:
    #   - images/a_dot_burr.jpeg
    #   - images/a_dot_ham.jpeg
    #
    # For details regarding assets in packages, see
    # https://flutter.dev/to/asset-from-package
    #
    # An image asset can refer to one or more resolution-specific "variants", see
    # https://flutter.dev/to/resolution-aware-images

    # To add custom fonts to your package, add a fonts section here,
    # in this "flutter" section. Each entry in this list should have a
    # "family" key with the font family name, and a "fonts" key with a
    # list giving the asset and other descriptors for the font. For
    # example:
    # fonts:
    #   - family: Schyler
    #     fonts:
    #       - asset: fonts/Schyler-Regular.ttf
    #       - asset: fonts/Schyler-Italic.ttf
    #         style: italic
    #   - family: Trajan Pro
    #     fonts:
    #       - asset: fonts/TrajanPro.ttf
    #       - asset: fonts/TrajanPro_Bold.ttf
    #         weight: 700
    #
    # For details regarding fonts in packages, see
    # https://flutter.dev/to/font-from-package
